@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    animation: transitionIn 0.70s;
    height: 5px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.navbar {
    /*background-color: rgba(255, 255, 255, .97) !important;*/
    background-color: black /*rgba(241,153,43, .97)*/ !important;
}

i {
    font-size: 70px;
}

i:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: dimgray;
}

    a:hover {
        color: black;
    }

.nav-icon {
    height: 100px;
    width: 100px;
    display: inline-block;
}

.nav-link {
    color: white !important;
}

    .nav-link:hover {
        color: #bfbfbf !important;
    }

.nav-icon-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px black solid;
    height: 250px;
    border-radius: ;
    box-shadow: 5px 5px;
}

.nav-icon-content-wrapper:hover {
    box-shadow: 5px 5px 5px;
    cursor: pointer;
}

.nav-icon-text {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.intro-text {
    text-align: left;
}

.intro-subtext {
    text-align: left;
    font-size: 18px;
}

.about-me-intro-text {
    font-size: 20px;
    text-align: left;
}

.career-journey-block {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    min-height: 350px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 2px;
}

.career-journey-block:hover {
    box-shadow: 5px 5px 5px;
}

.career-journey-position {
    font-size: 26px;
    font-weight: bold;
}

.career-journey-company {
    font-size: 20px;
    font-weight: bold;
}

.career-journey-date {
    font-size: 20px;
}

.career-journey-modal-body {
    font-size: 20px;
}

.testimonial-text {
    text-align: left;
    color: white;
}

.testimonial-body {
    font-size: 18px;
}

.testimonial-reviewer-name {
    font-size: 16px;
    font-weight: bold;
}

.testimonial-reviewer-company {
    font-size: 16px;
}

.page-footer-container {
    background-color: black /*rgba(241,153,43, .97)*/;
    position: relative;
    bottom: 0;
}

.page-footer-icon {
    display: inline-block;
    height: 45px;
    width: 45px;
}

.flip-box {
    background-color: transparent;
    width: 400px;
    min-height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: black /*rgba(2, 14, 79, .50)*/;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-box-back {
    background-color: rgba(232, 232, 232, .50);
    color: black;
    transform: rotateY(180deg);
    padding: 10px;
    font-weight: bold;
    overflow-y: scroll;
}

.ux-sample-container {
    border: solid black 1px;
    padding: 15px;
    min-height: 200px;
}

.ux-writing-intro-text {
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.ux-writing-before-after-text {
    font-style: italic;
    font-size: 18px;
}

.ux-writing-work-sample-text {
    text-decoration: underline;
    font-size: 20px;
}

.copywriting-intro-text {
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.scrollBackUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, .30);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.technical-writing-intro-text {
    font-size: 24px;
    text-align: left;
    padding: 10px;
}

.banner-img-container {
    position: relative;
    text-align: center;
    box-shadow: 5px 5px 5px;
}

    .banner-img-container:hover {
        box-shadow: 8px 8px 8px;
        cursor: pointer;
    }

.banner-img-centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.60);
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: bold;
    font-size: 26px;
}

.banner-img-container2 {
    position: relative;
    text-align: center;
    box-shadow: 5px 5px 5px;
}

    .banner-img-container2:hover {
        box-shadow: 8px 8px 8px;
        cursor: pointer;
    }


.navbar-toggler-icon {
    background-color: white !important;
}

.navbar-toggler {
    background-color: white !important;
    color: white !important;
}

.jeni-enns-banner-text {
    font-size: 54px;
    font-weight:;
}

.banner-sub-text {
    font-size: 18px;
    font-weight:;
}

.jeni-span-banner-text {
    color: /*rgb(248,216,206)*/;
}

.career-journey-intro-text {
    text-align: center;
    color: black;
    padding: 25px;
}

@media screen and (max-width: 800px) {
    .jeni-enns-banner-text-container {
        padding: 20px;
    }

    .tech-writing-banner-text-container {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .intro-text {
        text-align: left;
        font-size: 30px;
    }

    .intro-subtext {
        text-align: left;
        font-size: 24px;
        
    }
}

.homepage-hero-image {
    background-image: url("homepage-banner-pic.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.homepage-banner-text-container {
    background-color: rgba(0,0,0,.60);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.homepage-banner-text {
    font-size: 46px;
    color: white;
}

.about-me-hero-image {
    /*background-image: url("forest.jpg");*/
    background-image: url("get-to-know-me-background-pic1.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-me-jeni-span-banner-text {
    color: white;
}

.about-me-jeni-enns-banner-text {
    font-size: 50px;
    color: white;
}

.about-me-banner-text-container {
    background-color: rgba(0,0,0,.60);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.tech-writing-hero-image {
    background-image: url("blue-banner-pic.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tech-writing-banner-text-container {
    background-color: rgba(0,0,0,.60);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.tech-writing-banner-text {
    font-size: 46px;
    color: white;
}

.ux-writing-hero-image {
    background-image: url("colorful-pic.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.ux-writing-banner-text-container {
    background-color: rgba(0,0,0,.60);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.ux-writing-banner-text {
    font-size: 46px;
    color: white;
}

.copywriting-hero-image {
    background-image: url("splash-pic.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.copywriting-banner-text-container {
    background-color: rgba(0,0,0,.60);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.copywriting-banner-text {
    font-size: 46px;
    color: white;
}

.testimonials-hero-image {
    background-image: url("get-to-know-me-background-pic2.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.testimonials-banner-text-container {
    background-color: rgba(0,0,0,.60);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.testimonials-banner-text {
    font-size: 46px;
    color: white;
}

.contact-hero-image {
    background-image: url("get-to-know-me-background-pic3.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact-banner-text-container {
    background-color: rgba(0,0,0,.60);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.contact-banner-text {
    font-size: 46px;
    color: white;
}

.get-to-know-me-container {
    /*background-image: url('get-to-know-me-pic.jpg');
    background-image: url('gray-background-pic.jpg');*/
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.portfolio-section-container {
    background-image: url('');
    background-color: #f2f3f5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.im-jeni-section-container {
    background-color: white;
    /*background-image: url('white-pic.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.copywriting-sample-img {
    transition: 1s;
}

.copywriting-sample-img:hover {
    cursor: pointer;
}

/*Modals/sample images*/

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    .myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

